*{
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin: 0px 166px;
    word-spacing: 15px;
}

.header{
    background:url(/static/images/back.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.nav-item{
    color:#fff;
    text-decoration: none;
}

.numb{
    color:#fff;
    text-decoration: none;
}