<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/mains(css)/check.css') }}">
    <title>check</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="head-line">
                <div class="nav">
                    <a href="/info" class ="nav-item">Info</a>
                    <a href="#" class="nav-item">Number:</a>
                    <a href="/" class="nav-item">Back</a>
                    <a href="/room" class="nav-item">Rooms</a>
                    <a href="/images" class="nav-item">Photo-Portfolio</a>
                    <a href="/option" class="nav-item">Options</a>
                    <a href="/booking" class="nav-item">Booking</a>
               <div class= 'phone'>
                   <div class='number'><a href='#' class="numb">+7(759)334-89-36</a>
                   </div>
               </div>
               </div>
               </div>
            </div>
        </div>
    </div>
</body>
</html>


