<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/web_images(css)/web_images.css') }}">
    <title>Web-Portfolio</title>
</head>
<body>
    <div class="image-header">
        <div>
            <div>
                <a href="/check" class ="img-link">Back</a>
                <a href="/" class ="img-link">Home</a>
                <a href="/info" class ="img-link">Info</a>
            </div>
            <a href="#" class ="img-item">Photo-Portfolio</a>
        </div>
            <a href="#" class ="img-item">Appearance</a>
        <p>
            <img src="static/images/side_images/side.jpeg" width="200" height="200">
            <img src="static/images/side_images/side1.jpeg" width="200" height="200">
            <img src="static/images/side_images/side2.jpeg" width="200" height="200">
            <img src="static/images/side_images/side3.jpeg" width="200" height="200">
            <img src="static/images/side_images/side4.jpeg" width="200" height="200">
        </p>
             <a href="#" class ="img-item">Interior</a>
        <p>
            <img src="static/images/interior_images/interior.jpeg" width="200" height="200">
            <img src="static/images/interior_images/interior1.jpeg" width="200" height="200">
            <img src="static/images/interior_images/interior2.jpeg" width="200" height="200">
            <img src="static/images/interior_images/interior3.jpeg" width="200" height="200">
            <img src="static/images/interior_images/interior4.jpeg" width="200" height="200">
        </p>
            <a href="#" class ="img-item">Dishes from the chef</a>
        <p>
            <img src="static/images/dishes_images/dish.jpeg" width="200" height="200">
            <img src="static/images/dishes_images/dish1.jpeg" width="200" height="200">
            <img src="static/images/dishes_images/dish2.jpeg" width="200" height="200">
            <img src="static/images/dishes_images/dish3.jpeg" width="200" height="200">
            <img src="static/images/dishes_images/dish4.jpeg" width="200" height="200">
        </p>
    </div>
</body>
</html>