<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/rooms(css)/luxe.css') }}">
    <title>Luxe room</title>
</head>
<body>
    <div class="luxe-header">
        <a href="/info" class ="luxe-nav">Info</a>
        <a href="/room" class="luxe-nav">Back</a>
        <a href="/check" class="luxe-nav">Check</a>
        <a href="/" class="luxe-nav">Home</a>
        <h1>Features:</h1>
            <p>Total area:97м²</p>
            <p>View out the window:Moscow-city</p>
            <p>Unique option:Chef to the room</p>
        <h2>Review:</h2>
            <p>Superior room in the hotel Metalon it consists of three rooms. The suite room in our hotel
                is distinguished by an increased area, a more picturesque view from the window and
                a better interior decor.</p>
        <h3>Price:</h3>
            <p>780$/night(It is also possible to convert to other currencies (euro, ruble, yen, yuan, dirhams)</p>
    </div>
</body>
</html>
