<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/rooms(css)/president.css') }}">
    <title>President room</title>
</head>
<body>
    <div class="pres-header">
        <a href="/info" class ="pres-nav">Info</a>
        <a href="/room" class="pres-nav">Back</a>
        <a href="/check" class="pres-nav">Check</a>
        <a href="/" class="pres-nav">Home</a>
        <h1>Features:</h1>
            <p>Total area:135м²</p>
            <p>View out the window:Moscow-city</p>
            <p>Unique option:Chef to the room</p>
            <p>Unique option:Samelje</p>
            <p>Discount on all drinks and vines:30%</p>
        <h2>Review:</h2>
            <p>The Presidential Suite is a great solution to spend time at the Metalon Hotel.
                This room is very spacious and has a wide range of possibilities (read above).
                This room is suitable for newlyweds, people for corporate meetings and for recreation both with
                and without children.</p>
        <h3>Price:</h3>
            <p>1230$/night(It is also possible to convert to other currencies (euro, ruble, yen, yuan, dirhams)</p>
    </div>
</body>
</html>
