<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/rooms(css)/room.css') }}">
    <title>Rooms</title>
</head>
<body>
    <div class="room-header">
        <a href="/info" class ="room-nav">Info</a>
        <a href="/check" class="room-nav">Back</a>
        <a href="/" class="room-nav">Home</a>
        <div class="title"><h1>Rooms</h1></div>
        <div class="room-format">
            <ul>
            <li><a href="/president" class="room-nav">President</a></li>
            <li><a href="/luxe" class="room-nav">Luxe</a></li>
            <li><a href="/family" class="room-nav">Family</a></li>
            <li><a href="/standart" class="room-nav">Standart</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
