<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/rooms(css)/standart.css') }}">
    <title>Standart room</title>
</head>
<body>
    <div class="stand-header">
        <a href="/info" class ="stand-nav">Info</a>
        <a href="/room" class="stand-nav">Back</a>
        <a href="/check" class="stand-nav">Check</a>
        <a href="/" class="stand-nav">Home</a>
        <h1>Description of the Room:</h1>
            <p>The standard room at the Metalon Hotel has a double bed or two and a half beds, a desk
                and coffee tables, a chair, two upholstered armchairs and a telephone. Total area of an number is 45м²
                In the bathroom there is a hairdryer, hygiene products, a set of towels.</p>
        <h2>Price:</h2>
            <p>220$/night(It is also possible to convert to other currencies (euro, ruble, yen, yuan, dirhams)</p>
    </div>
</body>
</html>
